doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Hello, ngnix!
    link(href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet")
    link(rel="stylesheet" type="text/css" media="screen" href="/style.css")
    script(type="module" src="/wired-elements/wired-elements.js")

  body
    header
      wired-card(elevation="3" class="container")
          a(class="logo" href="/index.html") math.gramend.ru
    main
      block main
    footer
      wired-card(elevation="3" class="container") @suhoy95
