extend ../layout.pug

block main
  +note('Hello world')
    p The first note from development
  +note('qwe QWE')
    p ....
  +note('qwe QWE')
    p ....
  +note('qwe QWE')
    p ....
  +note('qwe QWE')
    p ....
  +note('qwe QWE')
    p ....
